body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 260px;
  padding: 10px;
  background: #111;
  color: white;
}

#sidebar input {
  width: 100%;
  margin-bottom: 8px;
}

#map {
  flex: 1;
}
